<nav class="navbar navbar-expand-lg">
    <div>
        <img src="https://thumbs.dreamstime.com/b/cartoon-kids-reading-book-cartoon-kids-reading-book-black-background-111550893.jpg"
            alt="book" class="img-responsive">
        <b class="b">Book Buy</b>
        <i class="c">Category</i>
        <app-search></app-search>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <button class="btn btn-success" style="margin-left: 300px;" (click)="login()">logout</button>
        <a routerLink="/cart">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="40" fill="currentColor" class="bi bi-bookshelf" viewBox="0 0 16 16">
            <path d="M2.5 0a.5.5 0 0 1 .5.5V2h10V.5a.5.5 0 0 1 1 0v15a.5.5 0 0 1-1 0V15H3v.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zM3 14h10v-3H3v3zm0-4h10V7H3v3zm0-4h10V3H3v3z"/>
          </svg>
        </a>

    </div>
    
</nav>

<div>
    <app-category-list></app-category-list>
</div>
<div>
    <app-userpage></app-userpage>
</div>