<div class="as">
    <div class="row">
        <div class="col-md-2">

        </div>

        <div class="col-md-5">
            <br>
            <div class="card">
                <div class="card-body">
                    <h3 style="text-align: center;">Registration form</h3><br>
                    <form #userform="ngForm" novalidate (ngSubmit)="onSubmit()">
                        <table class="table">
                            <tr>
                                <td>Firstname :</td>
                                <td><input class="form-control" type="text" name="firstname"
                                        [(ngModel)]="user.firstName" placeholder="Enter First Name"></td>
                            </tr><br>
                            <tr>
                                <td>Lastname :</td>
                                <td><input class="form-control" type="text" name="lastName" [(ngModel)]="user.lastName"
                                        placeholder="Enter Last Name"></td>
                            </tr><br>
                            <tr>
                                <td>Username :</td>
                                <td><input class="form-control" type="text" name="bbuserName"
                                        [(ngModel)]="user.bbuserName" placeholder="Enter User Name"></td>
                            </tr><br>
                            <tr>
                                <td>Password :</td>
                                <td><input class="form-control" type="password" name="bbuserPassword"
                                        [(ngModel)]="user.bbuserPassword" placeholder="Enter Password">
                                </td>
                            </tr><br>
                            <tr>
                                <td>Primary Address :</td>
                                <td><textarea class="form-control" name="bbuserAddress1"
                                        [(ngModel)]="user.bbuserAddress1" placeholder="Enter Primary Address">
                                        </textarea>
                                </td>
                            </tr><br>
                            <tr>
                                <td>Secondary Address :</td>
                                <td><textarea class="form-control" name="bbuserAddress2"
                                        [(ngModel)]="user.bbuserAddress2" placeholder="Enter Secondary Address"></textarea>
                                </td>
                            </tr>
                        </table>
                        <button class="btn btn-primary" type="submit">Sign Up</button>
                    </form>
                </div>
            </div><br>
        </div>
        <div class="col-md-5 df">
            <div class="card mm">
                <div class="card-body">
            <p style="font-size: 25px;">Already registered?</p>
            <p>Login  --> <a routerLink="/loginform">here</a>    <--</p>
            </div>
            </div>
        </div>
    </div>
</div>