.table {
    margin-left: 10%;
}

.form-control {
    width: 70%;
}

.table > :not(:last-child) > :last-child > * {
    border-bottom-color: white;
  }

.btn {
    margin-left: 40%;
}

.card{
    background-color: aliceblue;
    margin-right: 30px;
    border-radius: 50px;
    opacity: 0.8;
    width: 100%;
}

.as {
    background-image: url(https://media.istockphoto.com/photos/closeup-cropped-image-student-girl-hands-typing-using-laptop-picture-id1146488500?k=20&m=1146488500&s=612x612&w=0&h=IewUqjrXCL-Vye7JJk4GLdy1PRbRTRtv3QZf1SqptmM=);
    background-size: cover;
}

.mm{
    width: 60%;
    margin-left: 100px;
}

.df{
    text-align: center;
    margin-top: 20%;
}