<nav class="navbar navbar-expand-lg navbar-light bg-danger">
    <div class="container-fluid">
        <img src="https://thumbs.dreamstime.com/b/dreamstime-template-211205655.jpg" alt="Bookbuy"
            class="img-responsive">
        <div class="asdf">
            <app-search></app-search>
        </div>

        <div>
            <button type="button" class="btn btn-primary">Register</button>
            &nbsp; &nbsp;
            <button type="button" class="btn btn-primary">login</button>
        </div>

    </div>
</nav>
<div class="container-fluid">
    
    <!-- <table >
        <tr>
            <td>categories:</td>
            <td><app-category-list></app-category-list></td>
        </tr>
    </table> -->
    <button class="btn btn-primary" (click)="bookform()">Add book</button>
    <app-book-list></app-book-list>
    <button class="btn btn-primary" >Add User</button>
    
</div>
