.img-responsive{
    width: 100px;
    height: 50px;
}
.b{
    color: aliceblue;
    margin-left: 10px;
    margin-bottom: -50px;
    font-size: 35px;
    font-family: Cursive;
}
.asd{
    text-decoration: none;
    color:antiquewhite;
    margin-left: 200px;
}