<!-- <table>
        <tr >
            <td *ngFor = "let cat of category">{{cat.categoryName}}</td>
            
        </tr>
    </table> -->
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-1 as"><b><a class="as" routerLink="">All</a></b></div>
    <div class="col-sm-1 as"><b><a class="as" routerLink="/search/1">Poetry</a></b></div>
    <div class="col-sm-1 as"><b><a class="as" routerLink="/search/2">Drama</a></b></div>
    <div class="col-sm-1 as"><b><a class="as" routerLink="/search/3">Fiction</a></b></div>
    <div class="col-sm-1 as"><b><a class="as" routerLink="/search/4">Non-Fiction</a></b></div>
</div>